body {
  background-color: #BEB7A4;
  color: #14281D;
  background-image: url(http://i.ebayimg.com/images/i/400767792958-0-1/s-l1000.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html,body {
  height: 100%;
}

.container {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px black;
  opacity: 0.9;
}

.navbar {
  border-radius: 0;
  background-color: #81726A;
  border: none;
  border-bottom: 3px solid #14281D;
  box-shadow: 0 0 10px black;
}
#brand {
  color: #F0EBD8;
}
.tasks-header div:first-child {
  border-top-left-radius: 10px;
}
.tasks-header div:last-child {
  border-top-right-radius: 10px;
}
.left-col {
  border-bottom-left-radius: 10px;
}
.right-col {
  border-bottom-right-radius: 10px;
}
.tasks-header div:first-child, #task-input div:first-child {
  border-left: 3px solid #14281D;
}
.tasks-header div {
  border-top: 3px solid #14281D;
}
.tasks-header {
  color: #F0EBD8;
}
.tasks-header div, #task-input div {
  border-bottom: 3px solid #14281D;
  border-right: 3px solid #14281D;
  background-color: #81726A;
  height: 70px;
}
.task div:first-child {
  border-left: 3px solid #14281D;
}
.task div {
  height: 50px;
  border-bottom: 3px solid #14281D;
  border-right: 3px solid #14281D;
}
.task {
  word-wrap: break-word;
  background-color: #A5A5A5;
}
.task:nth-child(2n+1) {
  background-color: #A2A79E;
}
#input-form div input, #input-form div button, .task div * {
  margin: 10px 0;
}
#input-form div button, #remove-task {
  background-color: #482728;
  border-radius: 10px;
  box-shadow: 0 0 4px black;
  color: #F0EBD8;
}
#input-form div button:hover {
  background-color: #888;
}
.form-group {
  margin-bottom: 0;
  margin-right: 10px;
}
.left-form-group {
  width: 50%;
}
#date, #task {
  width: 100%;
}
.left-col, .task div:last-child, .tasks-header div, #input-form div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#image {
  text-align: center;
}
